.rightside-bar {
    position: fixed;
    top: 55px;
    bottom: 0px;
    right: 0px;
    width: 330px; 
    overflow: auto;
}

.align-container {
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.sponsor {
    color:rgb(150, 148, 148);
    margin:20px 0px 0px 10px;
    font-weight: 600;
}

.sponsor-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.sponsor-container:hover {
    background-color: rgb(49, 49, 49);
    border-radius: 5px; 
    margin-right: 10px;
}

.sponsor-image {
 width: 119px;;
 border-radius: 5px;
 margin: 10px 0px 0px 10px;

}

.sponsor-title {
    color:rgb(206, 206, 206);
    font-size: 14px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.sponsor-url {
    color:rgb(150, 148, 148);
    font-size: 12px;
}

.sponsor-title, .sponsor-url {
    margin-left: 10px;  
}

.border-bottom {
    border-bottom: 2px solid rgb(49,49,49);;
    margin: 5px 15px 0px 15px;
}

.align-container i {
    color:rgb(160, 160, 160);
    margin: 13px 0px 0px 13px;
}

.option, .option2 {
    position: absolute;
    top: 20px;
    right: 20px;

    background-color: rgb(57, 59, 57);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 25px;
    opacity: 0;
}

.option2 {
    top: 170px;
    right: 20px;
  
}

.option:hover, .option2:hover {
    background-color: rgb(90, 90, 90);
    opacity: 1;
    
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contact {
    color:rgb(150, 148, 148);
    font-weight: 600;
    margin: 10px 0px 0px 10px;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.contact-container i {
    margin:8px 0px 0px 8px;  
}

.add-icon {
    margin: 5px 0px 0px 5px;
    border-radius: 10px;
}

.contact-border {
   position: relative;

   height: 30px;
   width: 30px;
   margin-left: 8px;      
   margin-top: 12px;
   cursor: pointer;        
}

.contact-border:hover {
    border-radius: 20px;
    background-color: rgb(72, 73, 72);
    
 }


 .tooltip-newroom, .tooltip-search, .tooltip-options {
    position: absolute;

    font-size: 12px;
    white-space: nowrap;
    color:rgb(39, 39, 39);
    background-color: rgb(207, 204, 204);
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0;

    transition: opacity 0.5s;
 }

 .tooltip-newroom {
    bottom: -32px;
    right: 0px;
 }

 .tooltip-search {
    bottom: -32px;
    right: -5px;
 }

 .tooltip-options {
    bottom: -32px;
    right: 7px;
 }

.contact-border:hover .tooltip-newroom,.contact-border:hover .tooltip-search,
.contact-border:hover .tooltip-options{
    opacity: 1;
 }

.online-container {
    display: flex;
    flex-direction: column;
}

 .online-border {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
 }

 .online-border:hover {
    background-color: rgb(72, 73, 72);
   
 }

 .friend-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top;
    
    border-radius: 20px;
    margin: 10px 0px 0px 10px;
    position: relative;
 }

.friend-name {
    color:white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.online-mark {
    position: absolute;
    top: 0px;
    width: 8px;
    height: 8px;

    background-color: rgb(28, 160, 28);
    border-radius: 5px;
    margin:2px 0px 0px 2px;
}

.border-online, .border-online2, .border-online3,
.border-online4, .border-online5, .border-online6,
.border-online7, .border-online8, .border-online9 {
    position: absolute;
    top: 386px;
    right: 280px;
    width: 12px;
    height: 12px;


    background-color: rgb(25, 25, 25);
    border-radius: 7px;  
}

.border-online2 {
    top: 435px;
}

.border-online3 {
    top:485px;
}

.border-online4 {
    top:535px;
}

.border-online5 {
    top:585px;
}

.border-online6 {
    top:635px;
}

.border-online7 {
    top:685px;
}

.border-online8 {
    top:735px;
}

.border-online9 {
    top: 785px;
}

